.idea/
whispering_assistant/prompt.json
*.wav
*.png
/whispering_assistant/configs/.env
/whispering_assistant/training_data/
/whispering_assistant/assets/ml/whisper-large-v2-ct2/
/whisper-large-v2-ct2/
/.conda-activate
/whispering_assistant/assets/docs/**.json
